section
  &.single-post
    padding-top: 0

    h3
      padding: 30px 0

section
  &.breadcrumbs
    background-color: $primary-light_accent
    width: 90%
    padding: 50px 5%
    overflow: scroll
    //scrollbar

    div
      display: inline-block

      &:first-child
        margin-left: -200%
        width: 300%
        text-align: right
