section
  &.single-post-page
    padding-top: 0

    & > article
      margin: 50px 0 75px
      padding: 75px 0
      background-color: rgba(255, 255, 255, 1)
      box-shadow: $background
      & > p
        padding: 20px 40px
        &:first-child
          font-size: 1.3em
          font-weight: 400

    #disqus_thread
      padding: 0 5%

    //footer
      //width: 90%
      //
      //padding: 0 2.5% 75px

    h3
      padding: 75px 40px

    h4,
    h5,
    h6
      padding: 20px 40px

    header
      ul
        padding: 0 40px

      li
        padding: 7.5px 0
        a,
        time
          display: inline-block
          vertical-align: middle
          text-decoration: none
          font-style: italic
        img
          display: inline-block
          vertical-align: middle
          width: 20px
          height: auto
          margin: 0 15px 0 0

    .wp-caption
      margin: 50px 0 25px
      width: 100% !important
      height: auto

    p
      &.wp-caption-text
        padding: 20px 40px
        font-style: italic
        font-weight: 400
        font-size: 0.9em

.desktop
  .single-post-page
    & > article,
    & > footer,
    & > aside
      display: inline-block
      width: 70%

    & > aside
      width: 100%

      h1
        font-size: 2em
        padding: 50px 0 25px

      .card
        width: 100%
        box-shadow: none
        margin-bottom: 50px

        p
          padding: 10px 0

        a
          padding: 10px 0

        h4
          padding: 50px 10px