/*  COLOR VARIABLES */
/* SHADOW VARIABLES */
/* PADDING SETUP */
/* SET RESPONSIVE BREAKPOINTS */
@import url("//fonts.googleapis.com/css?family=Convergence:400");
@import url("//fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

body {
  padding-top: 75px;
  background-color: #f8f8f8; }

body > section, body > footer {
  padding-top: 150px; }

img {
  width: 100%;
  height: auto;
  border: none; }

/*  FONT IMPORT */
/*  FONT VARIABLES */
/*  FONT STYLES */
body {
  font-size: 1em; }

h1, h2, h3 {
  font-family: "Convergence", sans-serif;
  font-weight: 100;
  letter-spacing: 0.02em; }

h4, h5, h6, p, .more {
  font-family: "Roboto", sans-serif;
  font-weight: 100; }

header, nav {
  font-family: "Convergence", sans-serif; }
  header a, header a:hover, header a:visited, header a:active, nav a, nav a:hover, nav a:visited, nav a:active {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #443f35; }
  header h1 a, header h1 a:hover, header h1 a:visited, header h1 a:active, nav h1 a, nav h1 a:hover, nav h1 a:visited, nav h1 a:active {
    font-family: "Convergence", sans-serif;
    color: #c26559; }

section h1, section h2, section h3, section h4, section h5, section h6, section p {
  padding: 10px 15px; }
section h3 {
  display: inline-block; }
section h4 {
  font-size: 1.4em; }

.more {
  letter-spacing: 0.1em;
  float: right;
  padding: 10px 15px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  color: #f8f8f8;
  background-color: #c26559;
  border: none;
  border-radius: 0;
  border-bottom: 5px solid #954e44;
  border-top: 5px solid rgba(255, 255, 255, 0);
  -webkit-transition: 0.1s ease-in-out;
    -webkit-transition--moz-transition: 0.1s ease-in-out;
      -webkit-transition--moz-transition--ms-transition: 0.1s ease-in-out;
        -webkit-transition--moz-transition--ms-transition--o-transition: 0.1s ease-in-out;
          -webkit-transition--moz-transition--ms-transition--o-transition-transition: 0.1s ease-in-out;
  text-decoration: none;
  font-style: normal; }
  .more:hover {
    border-bottom: 5px solid #c26559; }

header#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 75px;
  z-index: 100;
  background-color: #f8f8f8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); }
  header#header.closed ul {
    margin-top: -340px; }
  header#header.open ul {
    margin-top: 0; }
  header#header h1 a {
    display: block;
    font-size: 0.6em;
    padding: 24px 15px; }
  header#header h2 {
    font-size: 0.6em; }
  header#header .current-menu-item > a {
    background-color: rgba(118, 113, 103, 0.1); }
  header#header li {
    border-top: 1px solid rgba(118, 113, 103, 0.1); }
    header#header li:hover {
      background-color: rgba(118, 113, 103, 0.1); }
    header#header li a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 15px 10%; }
      header#header li a:hover, header#header li a:visited {
        color: #443f35; }
  header#header img#navigation_button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer; }

#intro {
  text-align: center; }
  #intro img {
    width: 55%; }
  #intro video {
    width: 600px;
    height: 337px;
    background-color: black;
    -webkit-mask-image: url("../svg/head.svg"); }

.card {
  display: inline-block;
  margin: 20px 15px 0;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .card:hover header {
    background-size: 150% auto; }
  .card:hover .img-overlay {
    background-color: rgba(0, 0, 0, 0.7); }
  .card header {
    background-size: 100% auto;
    background-position: 50% 50%;
    text-align: center;
    -webkit-transition: 0.1s ease-in-out;
      -webkit-transition--moz-transition: 0.1s ease-in-out;
        -webkit-transition--moz-transition--ms-transition: 0.1s ease-in-out;
          -webkit-transition--moz-transition--ms-transition--o-transition: 0.1s ease-in-out;
            -webkit-transition--moz-transition--ms-transition--o-transition-transition: 0.1s ease-in-out; }
  .card .post_more {
    display: inline-block;
    letter-spacing: 0.1em;
    margin: 15px 10px;
    padding: 15px 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    color: #f8f8f8;
    background-color: #72a099;
    border: none;
    border-radius: 0;
    border-top: 7px solid rgba(255, 255, 255, 0);
    border-bottom: 7px solid #425d59;
    -webkit-transition: 0.1s ease-in-out;
      -webkit-transition--moz-transition: 0.1s ease-in-out;
        -webkit-transition--moz-transition--ms-transition: 0.1s ease-in-out;
          -webkit-transition--moz-transition--ms-transition--o-transition: 0.1s ease-in-out;
            -webkit-transition--moz-transition--ms-transition--o-transition-transition: 0.1s ease-in-out;
    font-style: normal; }
    .card .post_more:hover {
      border-bottom: 7px solid #72a099; }
  .card .img-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    padding: 100px 30px;
    color: #f8f8f8;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.1s ease-in-out;
      -webkit-transition--moz-transition: 0.1s ease-in-out;
        -webkit-transition--moz-transition--ms-transition: 0.1s ease-in-out;
          -webkit-transition--moz-transition--ms-transition--o-transition: 0.1s ease-in-out;
            -webkit-transition--moz-transition--ms-transition--o-transition-transition: 0.1s ease-in-out; }

/*# sourceMappingURL=main.css.map */
