/* Assets, set up de document */
/*  COLOR VARIABLES */
/* SHADOW VARIABLES */
/* PADDING SETUP */
/* BORDER RADIUS */
/* WIDTHS */
/* SET RESPONSIVE BREAKPOINTS */
@import url("//fonts.googleapis.com/css?family=Convergence:400");
@import url("//fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top; }

header#header a, nav a {
  text-decoration: none; }

.mobile body {
  padding-top: 75px; }
.mobile body > section > header,
.mobile body > section > article,
.mobile body > section > footer {
  width: 100%; }
.mobile body > section > header {
  padding: 0 0 15px; }
.mobile aside {
  padding: 4%; }

.tablet.portrait body {
  padding-top: 100px; }
.tablet.portrait > section {
  padding: 50px auto;
  width: 100%; }

.tablet .landscape body {
  padding-top: 100px; }
.tablet .landscape > section {
  padding: 50px auto;
  width: 90%; }

.desktop body {
  padding-top: 100px; }
  .desktop body > section {
    padding-top: 250px;
    width: 80%;
    min-width: 0;
    max-width: 1500px; }
.desktop header#header h1 a {
  padding-left: 0; }
.desktop #header_wrapper {
  width: 80%;
  margin: 0 auto; }

body,
body > footer {
  background-color: #f8f8f8; }

body > section > header,
body > section > article,
body > section > footer,
body > section,
body > footer {
  margin: 0 auto; }

body > section,
body > footer {
  padding-top: 50px; }

img {
  width: 100%;
  height: auto;
  border: none; }

/*  FONT IMPORT */
/*  FONT VARIABLES */
/*  FONT STYLES */
body {
  font-size: 1em; }

h1, h2, h3, h4 {
  font-family: "Convergence", sans-serif;
  color: #443f35;
  font-weight: 400;
  letter-spacing: 0.05em; }

h5, h6, p, .more, .card a, .single-post a, time, .breadcrumbs, ul {
  font-family: "Roboto", sans-serif;
  color: #443f35;
  font-weight: 100; }

section h3 {
  display: inline-block;
  padding: 10px 0; }

footer section h3 {
  margin-left: 0;
  display: block; }

.more {
  letter-spacing: 0.1em;
  padding: 10px 15px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: #f8f8f8;
  background-color: #7cb0a9;
  border: none;
  border-radius: 0;
  border-bottom: 5px solid #425d59;
  -webkit-transition: 0.1s ease-in-out;
    -webkit-transition--moz-transition: 0.1s ease-in-out;
      -webkit-transition--moz-transition--ms-transition: 0.1s ease-in-out;
        -webkit-transition--moz-transition--ms-transition--o-transition: 0.1s ease-in-out;
          -webkit-transition--moz-transition--ms-transition--o-transition-transition: 0.1s ease-in-out;
  float: right;
  font-size: 0.8em;
  font-weight: 400;
  text-decoration: none; }
  .more:hover {
    border-bottom: 5px solid #7cb0a9; }

section.breadcrumbs {
  padding: 100px 0 25px;
  display: block !important; }
  section.breadcrumbs div {
    display: inline-block;
    vertical-align: middle; }

.mobile header#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 75px;
  z-index: 100; }
  .mobile header#header a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 10%; }
    .mobile header#header a:hover, .mobile header#header a:visited {
      color: #f8f8f8; }
.mobile div#title {
  display: inline-block; }
.mobile h1 {
  font-size: 1.2em;
  padding: 16px 12px 0; }
.mobile h2 {
  font-size: 1.1em;
  padding: 5px 12px 0; }
.mobile a#title_link {
  padding: 0 !important; }
.mobile img#header_icon {
  width: auto !important;
  height: 75px !important; }

header#header {
  background-color: #f8f8f8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }
  header#header.closed ul {
    margin-top: -340px; }
  header#header.open ul {
    margin-top: 0; }
  header#header h1 {
    font-family: "Convergence", sans-serif; }
  header#header h2 {
    font-size: 0.6em; }
  header#header a, header#header a:hover, header#header a:visited, header#header a:active {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #443f35; }
  header#header .current-menu-item > a {
    background-color: rgba(118, 113, 103, 0.1); }
  header#header li {
    border-top: 1px solid rgba(118, 113, 103, 0.1); }
    header#header li:hover {
      background-color: rgba(118, 113, 103, 0.1); }
  header#header img#navigation_button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer; }

.tablet header#header, .desktop header#header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  .tablet header#header img#header_icon, .desktop header#header img#header_icon {
    width: auto !important;
    height: auto !important; }
  .tablet header#header img#header_icon, .tablet header#header div#title, .tablet header#header nav, .tablet header#header a, .desktop header#header img#header_icon, .desktop header#header div#title, .desktop header#header nav, .desktop header#header a {
    vertical-align: top;
    display: inline-block; }
  .tablet header#header div#title, .desktop header#header div#title {
    padding: 0 25px 0 10px;
    height: 80px; }
  .tablet header#header a#title_link:hover, .desktop header#header a#title_link:hover {
    background-color: #7cb0a9; }
  .tablet header#header h1, .desktop header#header h1 {
    padding: 17px 0 0;
    font-size: 1.3em; }
  .tablet header#header h2, .desktop header#header h2 {
    padding: 5px 0 0 2px; }
  .tablet header#header nav, .desktop header#header nav {
    float: right; }
  .tablet header#header li, .desktop header#header li {
    display: inline-block;
    padding: 5px 30px;
    text-align: center;
    margin: 25px 0;
    border: none;
    border-right: 1px solid rgba(120, 120, 120, 0.5); }
    .tablet header#header li:last-child, .desktop header#header li:last-child {
      border-right: none;
      padding-right: 0; }

#intro {
  text-align: center; }
  #intro img {
    width: 55%; }
  #intro video {
    width: 600px;
    height: 337px;
    background-color: black;
    -webkit-mask-image: url("../svg/head.svg"); }

.card {
  display: inline-block;
  background-color: #f8f8f8;
  margin: 3.75px 2.5%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(100, 100, 100, 0.2);
  width: 95%; }
  .card header {
    background-size: 100% auto;
    background-position: 50% 50%;
    text-align: center;
    -webkit-transition: 0.1s ease-in-out;
      -webkit-transition--moz-transition: 0.1s ease-in-out;
        -webkit-transition--moz-transition--ms-transition: 0.1s ease-in-out;
          -webkit-transition--moz-transition--ms-transition--o-transition: 0.1s ease-in-out;
            -webkit-transition--moz-transition--ms-transition--o-transition-transition: 0.1s ease-in-out; }
  .card h4 {
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    padding: 100px 30px;
    font-size: 1.5em;
    color: #f8f8f8;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.1s ease-in-out;
      -webkit-transition--moz-transition: 0.1s ease-in-out;
        -webkit-transition--moz-transition--ms-transition: 0.1s ease-in-out;
          -webkit-transition--moz-transition--ms-transition--o-transition: 0.1s ease-in-out;
            -webkit-transition--moz-transition--ms-transition--o-transition-transition: 0.1s ease-in-out; }
  .card:hover header {
    background-size: 150% auto; }
  .card:hover h4 {
    background-color: rgba(0, 0, 0, 0.7); }
  .card p {
    padding: 15px 0;
    display: inline-block; }
  .card a {
    padding: 0 0 30px;
    display: inline-block; }

.desktop .card {
  width: 30%; }

ul.card-mini li {
  display: inline-block;
  width: 50%;
  margin: 0 -2% 0 0;
  background-size: cover;
  background-position: 50%; }
  ul.card-mini li a {
    display: inline-block;
    width: 90%;
    height: 50px;
    padding: 50px 5%;
    background-color: rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    font-family: "Convergence", sans-serif;
    font-size: 1.3em;
    color: #f8f8f8;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none; }

/* The footer styles */
footer#footer section {
  padding: 150px 4%;
  text-align: center; }
footer#footer h3 {
  color: #f8f8f8;
  margin-bottom: 15px;
  font-size: 0.8em; }

#find-me {
  background-color: #7cb0a9; }
  #find-me img {
    width: 50%;
    margin: 25%;
    height: auto; }
  #find-me ul {
    width: 100%; }
  #find-me li {
    display: inline-block;
    width: 24%;
    padding: 1% 0;
    margin: 0 0.5%;
    text-align: center;
    border-radius: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    -webkit-transition: 0.2s ease;
      -webkit-transition--moz-transition: 0.2s ease;
        -webkit-transition--moz-transition--ms-transition: 0.2s ease;
          -webkit-transition--moz-transition--ms-transition--o-transition: 0.2s ease;
            -webkit-transition--moz-transition--ms-transition--o-transition-transition: 0.2s ease;
    border-bottom: 10px solid #425d59; }
    #find-me li:hover {
      border-bottom: 10px solid #f8f8f8; }

#talk-to-me {
  background-color: #c26559;
  font-size: 0.8em;
  line-height: 1.7em;
  letter-spacing: 0.1em; }
  #talk-to-me img {
    width: 55%;
    margin-bottom: 30px; }
  #talk-to-me ul {
    font-family: "Roboto", sans-serif;
    color: #f8f8f8; }
    #talk-to-me ul li {
      letter-spacing: 0.1em; }
    #talk-to-me ul h4 {
      font-size: 1em;
      font-family: "Convergence", sans-serif;
      color: #443f35;
      font-style: italic;
      margin: 20px 0 0; }
    #talk-to-me ul a {
      color: #f8f8f8;
      text-decoration: none; }

#follow-me {
  background-color: #443f35; }
  #follow-me input {
    padding: 20px 6%;
    width: 88%;
    border: none; }
  #follow-me button {
    display: inline-block;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    color: #f8f8f8;
    background-color: #7cb0a9;
    border: none;
    border-radius: 0;
    border-bottom: 7px solid #425d59;
    -webkit-transition: 0.1s ease-in-out;
      -webkit-transition--moz-transition: 0.1s ease-in-out;
        -webkit-transition--moz-transition--ms-transition: 0.1s ease-in-out;
          -webkit-transition--moz-transition--ms-transition--o-transition: 0.1s ease-in-out;
            -webkit-transition--moz-transition--ms-transition--o-transition-transition: 0.1s ease-in-out;
    margin-top: 20px; }
    #follow-me button:hover {
      border-bottom: 7px solid #7cb0a9; }
  #follow-me .clear {
    text-align: center; }
  #follow-me div.mce_inline_error, #follow-me div#mce-error-response {
    color: #954e44;
    text-align: left;
    font-family: "Roboto", sans-serif;
    margin: 15px 0;
    font-size: 0.7em;
    background-color: #f8f8f8 !important;
    padding: 30px 15px 30px 105px !important;
    background-image: url("../svg/icons/exclamation8.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 30px 50%; }
  #follow-me div#mce-succes-response {
    color: #443f35;
    background-image: url("../svg/icons/checkboxmark.svg"); }

.tablet footer#footer #find-me,
.tablet footer#footer #talk-to-me,
.desktop footer#footer #find-me,
.desktop footer#footer #talk-to-me {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  height: 250px;
  padding: 10%;
  margin: 0;
  border: 0; }
.tablet footer#footer #talk-to-me img,
.desktop footer#footer #talk-to-me img {
  width: 40%;
  margin-top: 15px; }

.single-post #img-header {
  width: 100%;
  height: 400px;
  top: 0;
  position: fixed;
  z-index: -10;
  background-size: cover;
  background-position: 50%; }
.single-post .gradient {
  width: 100%;
  height: 100%;
  transition: 1s; }
.single-post > section {
  padding-top: 0;
  letter-spacing: 0.04em;
  line-height: 1.5em; }
  .single-post > section p, .single-post > section h1, .single-post > section h2, .single-post > section h3 {
    padding: 25px 20px; }
  .single-post > section h4, .single-post > section h5, .single-post > section h6 {
    padding: 25px 20px 0; }
  .single-post > section h3 {
    font-size: 2em;
    line-height: 1.3em; }
  .single-post > section > header, .single-post > section > footer, .single-post > section > aside {
    background-color: #f8f8f8; }
  .single-post > section > header {
    margin: 300px 0 0;
    box-shadow: 0 0 7px rgba(100, 100, 100, 0.2); }
    .single-post > section > header ul {
      padding: 0 20px; }
    .single-post > section > header li {
      padding: 3px 0; }
    .single-post > section > header a, .single-post > section > header time {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.8em;
      font-style: italic; }
    .single-post > section > header img {
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: auto;
      margin: 0 10px 0 0; }
  .single-post > section > article {
    margin: 0;
    padding: 50px 0;
    background-color: white; }
    .single-post > section > article p {
      font-size: 1em; }
      .single-post > section > article p:first-child {
        font-size: 1.1em;
        font-weight: 400; }
    .single-post > section > article img {
      padding: 25px 0; }
    .single-post > section > article .wp-caption {
      padding: 25px 0 0;
      width: 100% !important; }
    .single-post > section > article .wp-caption-text {
      padding: 25px 20px 25px 60px;
      font-style: italic;
      font-weight: 400;
      font-size: 1.5em;
      line-height: 1.2em;
      background-image: url("../svg/icons/picture.svg");
      background-size: 20px auto;
      background-position: 20px 50%;
      background-repeat: no-repeat; }
  .single-post > section > aside h3 {
    font-size: 2em;
    padding: 12.5px 0 !important; }
  .single-post > section > footer #disqus_thread {
    padding: 75px 20px 55px; }

.tablet .single-post #img-header,
.desktop .single-post #img-header {
  height: 800px; }
.tablet .single-post h3,
.desktop .single-post h3 {
  font-size: 3em; }
.tablet .single-post > section p, .tablet .single-post > section h1, .tablet .single-post > section h2,
.desktop .single-post > section p,
.desktop .single-post > section h1,
.desktop .single-post > section h2 {
  padding: 78px 80px; }
.tablet .single-post > section h3, .tablet .single-post > section h4, .tablet .single-post > section h5, .tablet .single-post > section h6,
.desktop .single-post > section h3,
.desktop .single-post > section h4,
.desktop .single-post > section h5,
.desktop .single-post > section h6 {
  padding: 75px 80px 0; }
.tablet .single-post > section h3,
.desktop .single-post > section h3 {
  line-height: 1.3em;
  font-size: 6.5em; }
.tablet .single-post > section ul,
.desktop .single-post > section ul {
  padding: 50px 82px 150px; }
.tablet .single-post > section #disqus_thread,
.desktop .single-post > section #disqus_thread {
  padding: 75px 0; }
.tablet .single-post > section > header a, .tablet .single-post > section > header time,
.desktop .single-post > section > header a,
.desktop .single-post > section > header time {
  font-size: 1.1em; }
.tablet .single-post > section > header img,
.desktop .single-post > section > header img {
  width: 20px; }
.tablet .single-post > section > article, .tablet .single-post > section > footer,
.desktop .single-post > section > article,
.desktop .single-post > section > footer {
  margin: 0; }
.tablet .single-post > section > article,
.desktop .single-post > section > article {
  padding: 100px 0;
  box-shadow: 0 0 7px rgba(100, 100, 100, 0.2); }
  .tablet .single-post > section > article p,
  .desktop .single-post > section > article p {
    font-size: 1.3em;
    padding: 25px 80px;
    letter-spacing: 0.05em;
    line-height: 1.8em; }
    .tablet .single-post > section > article p:first-child,
    .desktop .single-post > section > article p:first-child {
      font-size: 1.6em;
      font-weight: 400; }
  .tablet .single-post > section > article .wp-caption,
  .desktop .single-post > section > article .wp-caption {
    padding: 25px 0; }
  .tablet .single-post > section > article .wp-caption-text,
  .desktop .single-post > section > article .wp-caption-text {
    padding: 75px 80px 75px 150px;
    font-style: italic;
    font-weight: 400;
    font-size: 2em;
    background-size: 30px auto;
    background-position: 80px 50%; }

.desktop .single-post > section h3 {
  font-size: 6.5em; }
.desktop .single-post > section > article, .desktop .single-post > section > footer, .desktop .single-post > section > aside {
  width: 75%; }
.desktop .single-post > section > aside ul li .card {
  width: 100%;
  box-shadow: none;
  margin-bottom: 50px; }
  .desktop .single-post > section > aside ul li .card p {
    padding: 10px 0; }
  .desktop .single-post > section > aside ul li .card a {
    padding: 10px 0; }
  .desktop .single-post > section > aside ul li .card h4 {
    padding: 50px 10px; }

/*# sourceMappingURL=main.css.map */
