ul.card-mini

  li
    display:            inline-block
    width:              50%
    margin:             0 -2% 0 0

    background-size:    cover
    background-position: 50%

    a
      display:          inline-block
      width:            90%
      height:           50px
      padding:          50px 5%
      background-color: rgba(0, 0, 0, 0.2)
      vertical-align:   middle

      font-family:      $font-1
      font-size:        1.3em

      color:            $primary-light
      text-align:       center
      text-shadow:      $text-shadow
      text-decoration:  none
