/* The footer styles */

footer#footer
  section
    padding: 150px $mobile-padding
    text-align: center

  h3
    color: $primary-light
    margin-bottom: 15px
    font-size: 0.8em

#find-me
  background-color: $secondary-1

  img
    width: 50%
    margin: 25%
    height: auto

  ul
    width: 100%

  li
    display: inline-block
    width: 24%
    padding: 1% 0
    margin: 0 0.5%
    text-align: center
    @include border-radius
    overflow: hidden
    background-color: $primary-light
    @include transition( 0.2s ease)
    @include border-bottom($secondary-1_accent)
    &:hover
      @include border-bottom($primary-light)

#talk-to-me
  background-color: $secondary-2
  font-size:    0.8em
  line-height:  1.7em
  letter-spacing: 0.1em
  img
    width: 55%

    margin-bottom: 30px
  ul
    font-family:  $font-2
    color:        $primary-light
    li
      letter-spacing: 0.1em
    h4
      font-size: 1em
      font-family: $font-1
      color: $primary-dark
      font-style: italic
      margin: 20px 0 0

    a
      color: $primary-light
      text-decoration: none

#follow-me
  background-color: $primary-dark

  input
    padding: 20px 6%
    width: 88%
    border: none

  button
    @include button_medium($secondary-1, $secondary-1_accent)
    margin-top: 20px

  .clear
    text-align: center

  div
    &.mce_inline_error,
    &#mce-error-response
      color: $secondary-2_accent
      text-align: left
      font-family: $font-2
      margin: 15px 0
      font-size: 0.7em
      background-color: $primary-light !important
      padding: 30px 15px 30px 105px !important
      background-image: url("../svg/icons/exclamation8.svg")
      background-repeat: no-repeat
      background-size: 50px
      background-position: 30px 50%

    &#mce-succes-response
      color: $primary-dark
      background-image: url("../svg/icons/checkboxmark.svg")

.tablet,
.desktop
  footer#footer

    #find-me,
    #talk-to-me
      vertical-align: top
      display: inline-block
      width: 30%
      height: 250px
      padding: 10%
      margin: 0
      border: 0

    #talk-to-me
      img
        width: 40%
        margin-top: 15px