header#header
  position: fixed
  top: 0
  width: 100%
  height: auto
  min-height: 75px
  z-index: 100
  background-color: $secondary-1
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
  &.closed
    ul
      margin-top: -340px

  &.open
    ul
      margin-top: 0

  a, a:hover, a:visited, a:active
    font-family: $font-2
    font-weight: 100
    color: $primary-dark

  h1
    a
      font-family: $font-1
      display: block
      font-size: 0.6em
      padding: 24px 15px

      &:hover, &:visited, &:active
        color: $primary-light


  h1 a
    display: block
    font-size: 0.6em
    padding: 24px 15px

  h2
    font-size: 0.6em

  .current-menu-item > a
    background-color: $accent

  li
    border-top: 1px solid $accent
    &:hover
      background-color: $accent


    a
      display: block
      width: 100%
      height: 100%
      padding: 15px 10%
      &:hover, &:visited
        color: $primary-light


  img#navigation_button
    position: fixed
    top:    20px
    right:  20px
    width:  35px
    height: 35px
    border: none
    cursor: pointer