header#header
  position: fixed
  top: 0
  width: 100%
  height: auto
  min-height: 90px
  z-index: 100
  background-color: $primary-light
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
  &.closed
    ul
      margin-top: -340px

  &.open
    ul
      margin-top: 0


  h1 a
    display: block
    font-size: 0.6em
    padding: 20px 15px 0

  h2
    font-size: 0.6em
    padding: 0 15px 20px

  .current-menu-item > a
    background-color: $accent

  li
    border-top: 1px solid $accent
    &:hover
      background-color: $accent


    a
      display: block
      width: 100%
      height: 100%
      padding: 15px 10%
      &:hover, &:visited
        color: $primary-dark


  img#navigation_button
    position: fixed
    top:    20px
    right:  20px
    width:  35px
    height: 35px
    border: none
    cursor: pointer