.mobile
  body
    padding-top: 155px
    &.single
      padding-top: 75px

  body > section > header,
  body > section > article,
  body > section > footer
    width: $width-mobile


  body > section > header
    padding: 0 0 $padding-mobile-vertical

  aside
    padding: 4%

.tablet
  body
    padding-top: 100px
    & > section
      position: relative
      background-color: rgba(255,255,255,1)
      padding: 50px 10%
      width: 80%
      & > article,
      & > footer,
      & > aside
        width: 100%

.desktop
  body
    padding-top: 100px
    & > section
      position: relative
      background-color: rgba(255,255,255,1)
      padding: 100px 15%
      width: 70%

  header#header
    h1
      a
        padding-left: 0



  #header_wrapper
    width: 70%

    margin: 0 15%


body,
body > footer
  position: relative
  background-color: $primary-light

body > section > header,
body > section > article,
body > section > footer,
body > section,
body > footer
  margin: 0 auto

//body > section,
//body > footer
//  padding: 80px 0



img
  width: 100%
  height: auto
  border: none