.mobile
  body
    padding-top: 75px

  body > section
    width: $width-mobile

  body > section > header
    padding: 0 0 $padding-mobile-vertical

.tablet .portrait
  body > section
    width: $width-tablet-portrait

.tablet .landscape
  body > section
    width: $width-tablet-landscape

.desktop
  body > section,
  footer > input
    width: $width-desktop
    min-width: $width-desktop-min
    max-width: $width-desktop-max

body
  background-color: $primary-light

body > section,
body > footer
  padding-top: 150px
  margin: 0 auto

img
  width: 100%
  height: auto
  border: none

.single-post
  #img-header
    width: 100%
    height: 400px
    background-size: cover

  h3
    font-size: 3em