/*  FONT IMPORT
@import url('//fonts.googleapis.com/css?family=Convergence:400')
@import url('//fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic')


/*  FONT VARIABLES
$font-1: 'Convergence', sans-serif
$font-2: 'Roboto', sans-serif


/*  FONT STYLES
body
  font-size: 1.2em

h1, h2, h3
  font-family: $font-1
  font-weight: 100

h4, h5, h6, p, a
  font-family: $font-2
  font-weight: 100