/*  FONT IMPORT
@import url('//fonts.googleapis.com/css?family=Convergence:400')
@import url('//fonts.googleapis.com/css?family=Roboto:400,100,100italic,400italic')


/*  FONT VARIABLES
$font-1: 'Convergence', sans-serif
$font-2: 'Roboto', sans-serif


/*  FONT STYLES
body
  font-size: 1em

h1, h2, h3, h4
  font-family: $font-1
  color: $primary-dark
  font-weight: 400
  letter-spacing: 0.05em

h5, h6, p, .more, .card a
  font-family: $font-2
  color: $primary-dark
  font-weight: 100

section
  h3
    display: inline-block
    padding: 10px 0

footer
  section
    h3
      margin-left: 0
      display: block